.navbar{
    display: flex;
    padding: 25px;
    background-color: black;
    /* max-width: 100%; */
    
}

#Theater{
    display: flex;
    justify-content: left;
    padding-left: 50px;
}

#leftMost{
    display: flex;
    padding-left: 250px;
}

.navbar a{
    display: flex;
    position: relative;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.mainPic{
    width: 100%;
    height: auto;
}

.month{
    border: 2px;
}

.pic{
    max-width: 100%;
    height: auto;
}

.content{
    display: flex;
    flex-flow: column;
}

.button{
    background-color: yellow;
    padding: 5px;
}